body {
    max-width: 1440px;
    margin: 10% auto;
    height: 500px;
    
    background-color: hsl(212, 45%, 89%);
    width: 520px;
    font-size: 15px;
    font-family: 'Outfit', Sans-serif;
}

.bodyContent {
    border-radius: 13px;
    background-color: white;
    padding: 15px;
    width: 258px;
}

img{
    width: 260px;   
    border-radius: 10px;
}

.line1 {
    text-align: center;
    font-weight: 700;
    font-size: 19px;
    margin: 17px;
}

.line2 {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    color:hsl(220, 15%, 55%);
    padding: 0px 8px;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
 }

.attribution a { 
    color: hsl(228, 45%, 44%); 
}